@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
.body{
    background-image: url('../../pics/bg-1.jpg');
    width: 100%;
    height:100vh;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}



.first {
    width: 60%;
    margin-top: 100px;
    margin-left: 50px;
}

.first_first{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.first_second{
    font-family: 'Silkscreen', cursive;
}

#hiThere{
    font-size: 7vw;
    font-family: 'Secular One', sans-serif;
}

#namaste{
    font-size: 5.5vw;
    font-family: 'Secular One', sans-serif;
}

.second{
    margin-right: 15px;
    position: relative;
    margin-top: 230px;
    /* margin-top: 150px; */
    width: 35%;
}

.second > img{
    width: 100%;
    height: auto;
}

.third{
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    text-align: center;
    border: 5px solid red;
    border-radius: 25px;
}

#more{
    font-family: 'Secular One', sans-serif;
    font-size: 1vw;
    opacity: 0.9;
    color: rgb(80, 8, 146);
    padding: 5px 5px;
}






/* Media Queries */

@media only screen and (max-width: 1281px) {
    .first{
        width: 45%;
    }
    .third{
        width: fit-content;
    }
    #more{
        font-size: 1.5vw;
        padding: 4px 10px;
    }
}

@media only screen and (max-width: 1181px) {
    .third{
        width:fit-content;
    }
    #more{
        font-size: 1.5vw;
        padding-left: 14px;
        padding-right: 14px;
    }
}


@media only screen and (max-width: 1025px) {

    .body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100vh;
    }
    .first{
        margin-top: -10px;
        width: 100%;
        height: 10%;
    }
    #hiThere{
        font-size: 16vw;
    }
    #namaste{
        font-size: 8vw;
    }
    .first_first{
        width: 80vw;
    }
    .first_second{
        position: relative;
        margin-top: 20px;
        width: 70vw;
    }
    #iam{
        font-size: 4vw;
    }
    .second{
        width: 80%;
        position: relative;
        display: flex;
        justify-content: center;
        margin-right: 50px;
        margin-top: 400px;
    }
    .second > img{
        width: 60vw;
        height: auto;
    }
    .third{
        position: relative;
        margin-top: -100px;
        margin-left: auto;
        margin-right: auto;
    
    }

}
@media only screen and (max-width: 915px) {
    .second{
        position: relative;
        margin-top: 280px;
    }

}
@media only screen and (max-width:541px){
    .second{
        position: relative;
        margin-bottom: 80px;
    }
}
@media only screen and (max-width:415px){
    .body{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content:space-around;
    }
    .body:last-child{
        align-self: center;
    }
    .first{
        margin-top: 50px;
        width: 80vw;
        text-overflow: clip;
        height: 10%;
    }
    #hiThere{
        font-size: 14vw;
    }
    #namaste{
        position: relative;
        margin-top: 10px;
        font-size: 7.5vw;
    }
    #iam{
        position: relative;
        margin-top: 15px;
        font-size: 5vw;
        line-height:-30px;
    }
    .second{
        width: 100%;
        position: relative;
        margin-top: 250px;
    }
    .second > img{
        width: 90%;
        height: auto;
    }
    .third{
        width: fit-content;
        border: 3px solid red;
        margin: auto auto;
        margin-right: 85px;
    }
    #more{
        font-size: 3vw;
        padding-left: 2px;
        padding-right: 2px;
        padding-bottom: 4px;
        padding-top: 5.5px;
    }
}

@media only screen and (max-width:376px){
    .first{
        position: relative;
        margin-top: 30px;
    }
    .third{
        position: relative;
        margin-top: -60px;
    }
}
@media only screen and (max-width:321px){

    .body{
        height: fit-content;
    }
    .second{
        position: relative;
        margin-top: 30px;
    }
    .third{
        margin-left: auto;
        margin-right: auto;
        margin-left: 25px;
    }
    #more{
        font-size: 2.3vw;
        padding: 1px 10px;
    }

}


@media only screen and (max-width:281px){
    .first{
        margin-top: 50px;
        margin-left: 30px;
    }
}
